*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}



.top-container{
    display:flex;
    flex-direction:column;
    background: #1F2937;
    padding-top: 20px;
    padding-left: 128px;
    padding-right:128px;
    padding-bottom: 55px;
    margin-bottom:50px;

}

.header{
    display:flex;
    justify-content: space-between;

}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 40px;

}

.links{

    display:flex;
    flex-direction: row;
}

ul{
margin:0;
padding:0;
gap:50px;
display: flex;
}

a{

    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

li{
list-style-type:none;
color: #e5e7eb;
font-size:18px;
}

.header-text{
    display:flex;
    justify-content: space-between;
}

h1{

    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}


button{
    background: #3882f6;
    color: #e5e7eb;
    font-size:18px;
    border: #3882f6;
    padding: 8px 16px;
    border-radius: 5px;

}

.img{
    background-color: grey;
    padding: 100px;
    color: #e5e7eb;
    align-items: center;
}

/* below is the middle of the landing page*/

.info{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 50px;

}
.images{
    display:flex;
    flex-direction: row;
    gap: 25px;

}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    width: 200px;
    height: 200px;
    border:2px solid #3882f6;
    border-radius: 5px;
    flex-direction: column;
    text-align:center;
    font-size: 18px;
    color: #1F2937;
}



